body
{
	font-family: Canaro;
    color: #1d1b1a;
	background-image: url(background.jpg);
    font-size: 17px;
	margin-top: 32px;
}
img
{
	display: block;
}
.table
{
	display: table;
	width: 960px;
	margin: auto;
}
.row
{
	display: table-row;
	height: 240px;
}
.column
{
	display: table-cell;
	vertical-align: top;
	padding: 16px;
	width: 320px;
}
.free_height_row
{
	display: table-row;
}
@font-face
{
	font-family: Canaro;
	src: url(canaro_book.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: Canaro;
	src: url(canaro_book_italic.ttf);
	font-weight: normal;
	font-style: italic;
}
@font-face
{
	font-family: Canaro;
	src: url(canaro_bold.ttf);
	font-weight: bold;
	font-style: normal;
}